<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Emprendimientos</title>
</head>
<body>

    {% for emprendimiento in emprendimientos %}
        <div class="grid grid-cols-1">
            <div class="grid grid-cols-1">
                <h1>{{ emprendimiento.nombre }}</h1>
                <p>{{ emprendimiento.descripcion }}</p>
                <p>{{ emprendimiento.contacto }}</p>
                <p>{{ emprendimiento.latitud }}</p>
                <p>{{ emprendimiento.longitud }}</p>
                <h2>Información:</h2>
                <p>Ciudad: {{ emprendimiento.ciudad }}</p>
                <p>Estado: {{ emprendimiento.estado }}</p>
                <p>Region: {{ emprendimiento.region }}</p>
                <p>Barrio: {{ emprendimiento.barrio }}</p>
    
            </div>
        </div>
    {% endfor %}
</body>
</html>