<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_4ac2482bee605fdccbf7ba3e88575b6b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_4ac2482bee605fdccbf7ba3e88575b6b" ></div>
        
</body>
<script>    
    
            var map_4ac2482bee605fdccbf7ba3e88575b6b = L.map(
                "map_4ac2482bee605fdccbf7ba3e88575b6b",
                {
                    center: [-25.302223289426216, -57.58111798774653],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_162f76bf202b2d3017ff74bafb99bfdc = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_4ac2482bee605fdccbf7ba3e88575b6b);
        
    
            var marker_bb30464246e820bdfbd6419178d9fd90 = L.marker(
                [-25.29205995881709, -57.589409617130585],
                {}
            ).addTo(map_4ac2482bee605fdccbf7ba3e88575b6b);
        
    
        var popup_47ec6a24bc9075fd762063a52d5a3d9c = L.popup({"maxWidth": "100%"});

        
            var html_9afc5322cd837110515efafdbbc3e6f8 = $(`<div id="html_9afc5322cd837110515efafdbbc3e6f8" style="width: 100.0%; height: 100.0%;">                 <h2>Hola</h2>                 <p>Soy un emprendimiento </p>                 <p>Tel.: 0985123321</p>             </div>`)[0];
            popup_47ec6a24bc9075fd762063a52d5a3d9c.setContent(html_9afc5322cd837110515efafdbbc3e6f8);
        

        marker_bb30464246e820bdfbd6419178d9fd90.bindPopup(popup_47ec6a24bc9075fd762063a52d5a3d9c)
        ;

        
    
    
            var marker_39ad2942feb30c900838ea56a3aa6edb = L.marker(
                [-25.29197282912776, -57.60341107452547],
                {}
            ).addTo(map_4ac2482bee605fdccbf7ba3e88575b6b);
        
    
        var popup_07dd2896259e11cf0cb8ceb16fe82a39 = L.popup({"maxWidth": "100%"});

        
            var html_07f66491537b3b2efe91b31a20363a9b = $(`<div id="html_07f66491537b3b2efe91b31a20363a9b" style="width: 100.0%; height: 100.0%;">                 <h2>Gomeria</h2>                 <p>Venta de gomas</p>                 <p>Tel.: 0985345678</p>             </div>`)[0];
            popup_07dd2896259e11cf0cb8ceb16fe82a39.setContent(html_07f66491537b3b2efe91b31a20363a9b);
        

        marker_39ad2942feb30c900838ea56a3aa6edb.bindPopup(popup_07dd2896259e11cf0cb8ceb16fe82a39)
        ;

        
    
    
            var marker_0187965c38646ec2fa1250e17758cb55 = L.marker(
                [-25.30015726226854, -57.582480549935525],
                {}
            ).addTo(map_4ac2482bee605fdccbf7ba3e88575b6b);
        
    
        var popup_6e17c731c7ae62585da98f2d73c956f9 = L.popup({"maxWidth": "100%"});

        
            var html_10186e34bc9b762c4ce08a92e032c1a6 = $(`<div id="html_10186e34bc9b762c4ce08a92e032c1a6" style="width: 100.0%; height: 100.0%;">                 <h2>Verduleria, La verdura anarquista</h2>                 <p>Vendemos verduras para desestructurar al sistema</p>                 <p>Tel.: 098654253</p>             </div>`)[0];
            popup_6e17c731c7ae62585da98f2d73c956f9.setContent(html_10186e34bc9b762c4ce08a92e032c1a6);
        

        marker_0187965c38646ec2fa1250e17758cb55.bindPopup(popup_6e17c731c7ae62585da98f2d73c956f9)
        ;

        
    
    
            var marker_e14d216375ce1212c94fd54bf39dc375 = L.marker(
                [-25.303181052608295, -57.58131980895997],
                {}
            ).addTo(map_4ac2482bee605fdccbf7ba3e88575b6b);
        
    
        var popup_6ea7fc63e63956f168759e05727c422d = L.popup({"maxWidth": "100%"});

        
            var html_eb5b3ffe1d8c5fe637b68618a3e22ebc = $(`<div id="html_eb5b3ffe1d8c5fe637b68618a3e22ebc" style="width: 100.0%; height: 100.0%;">                 <h2>Miramar</h2>                 <p>Venta de Pintura</p>                 <p>Tel.: 0985349532</p>             </div>`)[0];
            popup_6ea7fc63e63956f168759e05727c422d.setContent(html_eb5b3ffe1d8c5fe637b68618a3e22ebc);
        

        marker_e14d216375ce1212c94fd54bf39dc375.bindPopup(popup_6ea7fc63e63956f168759e05727c422d)
        ;

        
    
    
            var marker_5278becf19f1c0cc3e380326c05de704 = L.marker(
                [-25.303181052608295, -57.58131980895997],
                {}
            ).addTo(map_4ac2482bee605fdccbf7ba3e88575b6b);
        
    
        var popup_aa318276ce7dd447b2fcf8339c074523 = L.popup({"maxWidth": "100%"});

        
            var html_84cf71a9f92e0ec19f7dfb1196d044e3 = $(`<div id="html_84cf71a9f92e0ec19f7dfb1196d044e3" style="width: 100.0%; height: 100.0%;">                 <h2>Miramar</h2>                 <p>Venta de Pintura</p>                 <p>Tel.: 0985349532</p>             </div>`)[0];
            popup_aa318276ce7dd447b2fcf8339c074523.setContent(html_84cf71a9f92e0ec19f7dfb1196d044e3);
        

        marker_5278becf19f1c0cc3e380326c05de704.bindPopup(popup_aa318276ce7dd447b2fcf8339c074523)
        ;

        
    
    
            var marker_a2f19fbe8c122f81154337fc9e849566 = L.marker(
                [-25.303181052608295, -57.58131980895997],
                {}
            ).addTo(map_4ac2482bee605fdccbf7ba3e88575b6b);
        
    
        var popup_2671526c9c70c75dceb3bc8084df18a2 = L.popup({"maxWidth": "100%"});

        
            var html_94325298f35f0b9f4326b98114151286 = $(`<div id="html_94325298f35f0b9f4326b98114151286" style="width: 100.0%; height: 100.0%;">                 <h2>Miramar</h2>                 <p>Venta de Pintura</p>                 <p>Tel.: 0985349532</p>             </div>`)[0];
            popup_2671526c9c70c75dceb3bc8084df18a2.setContent(html_94325298f35f0b9f4326b98114151286);
        

        marker_a2f19fbe8c122f81154337fc9e849566.bindPopup(popup_2671526c9c70c75dceb3bc8084df18a2)
        ;

        
    
    
            var marker_fb363b25abfb28daae68007b28f725c7 = L.marker(
                [-25.303181052608295, -57.58131980895997],
                {}
            ).addTo(map_4ac2482bee605fdccbf7ba3e88575b6b);
        
    
        var popup_6181e407985aa8335c1246f115f8909c = L.popup({"maxWidth": "100%"});

        
            var html_5a42b9b15dffb37b61ac1a1c3a56da3f = $(`<div id="html_5a42b9b15dffb37b61ac1a1c3a56da3f" style="width: 100.0%; height: 100.0%;">                 <h2>Miramar</h2>                 <p>Venta de Pintura</p>                 <p>Tel.: 0985349532</p>             </div>`)[0];
            popup_6181e407985aa8335c1246f115f8909c.setContent(html_5a42b9b15dffb37b61ac1a1c3a56da3f);
        

        marker_fb363b25abfb28daae68007b28f725c7.bindPopup(popup_6181e407985aa8335c1246f115f8909c)
        ;

        
    
    
            var marker_7ad40b20d97d8e1a9c3d2fbe340c1942 = L.marker(
                [-25.303181052608295, -57.58131980895997],
                {}
            ).addTo(map_4ac2482bee605fdccbf7ba3e88575b6b);
        
    
        var popup_fac83659eabbad862bd50dbda0c639a3 = L.popup({"maxWidth": "100%"});

        
            var html_59ae85d6d5e8d0e1183d80a1729aeb2b = $(`<div id="html_59ae85d6d5e8d0e1183d80a1729aeb2b" style="width: 100.0%; height: 100.0%;">                 <h2>Miramar</h2>                 <p>Venta de Pintura</p>                 <p>Tel.: 0985349532</p>             </div>`)[0];
            popup_fac83659eabbad862bd50dbda0c639a3.setContent(html_59ae85d6d5e8d0e1183d80a1729aeb2b);
        

        marker_7ad40b20d97d8e1a9c3d2fbe340c1942.bindPopup(popup_fac83659eabbad862bd50dbda0c639a3)
        ;

        
    
    
            var marker_147f324ad84d19673c05761eadf9073d = L.marker(
                [-25.303181052608295, -57.58131980895997],
                {}
            ).addTo(map_4ac2482bee605fdccbf7ba3e88575b6b);
        
    
        var popup_4626e799d7b8dabbc7011ab9bf03755a = L.popup({"maxWidth": "100%"});

        
            var html_12473da42e293e180c9198f53b601fb4 = $(`<div id="html_12473da42e293e180c9198f53b601fb4" style="width: 100.0%; height: 100.0%;">                 <h2>Miramar</h2>                 <p>Venta de Pintura</p>                 <p>Tel.: 0985349532</p>             </div>`)[0];
            popup_4626e799d7b8dabbc7011ab9bf03755a.setContent(html_12473da42e293e180c9198f53b601fb4);
        

        marker_147f324ad84d19673c05761eadf9073d.bindPopup(popup_4626e799d7b8dabbc7011ab9bf03755a)
        ;

        
    
    
            var marker_088706fcd74609e88281fe55a03af15f = L.marker(
                [-25.303181052608295, -57.58131980895997],
                {}
            ).addTo(map_4ac2482bee605fdccbf7ba3e88575b6b);
        
    
        var popup_c38e5d6a1e6611a9edf466558042f38a = L.popup({"maxWidth": "100%"});

        
            var html_82ea104f6b6f539f7c8289c90738772d = $(`<div id="html_82ea104f6b6f539f7c8289c90738772d" style="width: 100.0%; height: 100.0%;">                 <h2>Miramar</h2>                 <p>Venta de Pintura</p>                 <p>Tel.: 0985349532</p>             </div>`)[0];
            popup_c38e5d6a1e6611a9edf466558042f38a.setContent(html_82ea104f6b6f539f7c8289c90738772d);
        

        marker_088706fcd74609e88281fe55a03af15f.bindPopup(popup_c38e5d6a1e6611a9edf466558042f38a)
        ;

        
    
    
            var marker_14a73bda8a3b8533a94755827fa031db = L.marker(
                [-25.303181052608295, -57.58131980895997],
                {}
            ).addTo(map_4ac2482bee605fdccbf7ba3e88575b6b);
        
    
        var popup_8fb6c2efbfcf0d77e9b211107764c25e = L.popup({"maxWidth": "100%"});

        
            var html_6d841d857240da88e945ab1d1efffdc7 = $(`<div id="html_6d841d857240da88e945ab1d1efffdc7" style="width: 100.0%; height: 100.0%;">                 <h2>Miramar</h2>                 <p>Venta de Pintura</p>                 <p>Tel.: 0985349532</p>             </div>`)[0];
            popup_8fb6c2efbfcf0d77e9b211107764c25e.setContent(html_6d841d857240da88e945ab1d1efffdc7);
        

        marker_14a73bda8a3b8533a94755827fa031db.bindPopup(popup_8fb6c2efbfcf0d77e9b211107764c25e)
        ;

        
    
    
            var marker_f6107eee80a25aeecb3210ede1bb349e = L.marker(
                [-25.303181052608295, -57.58131980895997],
                {}
            ).addTo(map_4ac2482bee605fdccbf7ba3e88575b6b);
        
    
        var popup_b4e2bbded01d3f52411a42a90423d33d = L.popup({"maxWidth": "100%"});

        
            var html_7ba8efb853a5c17323cd4327f6cab7a2 = $(`<div id="html_7ba8efb853a5c17323cd4327f6cab7a2" style="width: 100.0%; height: 100.0%;">                 <h2>Miramar</h2>                 <p>Venta de Pintura</p>                 <p>Tel.: 0985349532</p>             </div>`)[0];
            popup_b4e2bbded01d3f52411a42a90423d33d.setContent(html_7ba8efb853a5c17323cd4327f6cab7a2);
        

        marker_f6107eee80a25aeecb3210ede1bb349e.bindPopup(popup_b4e2bbded01d3f52411a42a90423d33d)
        ;

        
    
    
            var marker_036f6e04ebb04cdbd4b5766015c6c7a2 = L.marker(
                [-25.303181052608295, -57.58131980895997],
                {}
            ).addTo(map_4ac2482bee605fdccbf7ba3e88575b6b);
        
    
        var popup_6486caf7dcc856bf7b6f5e3b7f397ff9 = L.popup({"maxWidth": "100%"});

        
            var html_a744971bbdddda403d2fd59e5590fb4a = $(`<div id="html_a744971bbdddda403d2fd59e5590fb4a" style="width: 100.0%; height: 100.0%;">                 <h2>Miramar</h2>                 <p>Venta de Pintura</p>                 <p>Tel.: 0985349532</p>             </div>`)[0];
            popup_6486caf7dcc856bf7b6f5e3b7f397ff9.setContent(html_a744971bbdddda403d2fd59e5590fb4a);
        

        marker_036f6e04ebb04cdbd4b5766015c6c7a2.bindPopup(popup_6486caf7dcc856bf7b6f5e3b7f397ff9)
        ;

        
    
    
            var marker_4773652563da8500c78f657f34b62341 = L.marker(
                [-25.291102149820038, -57.576169967651374],
                {}
            ).addTo(map_4ac2482bee605fdccbf7ba3e88575b6b);
        
    
        var popup_d56b894cc9e2211cb30b7e78e8b8faa7 = L.popup({"maxWidth": "100%"});

        
            var html_24db876cc17b76a8cc9800c071ec29c9 = $(`<div id="html_24db876cc17b76a8cc9800c071ec29c9" style="width: 100.0%; height: 100.0%;">                 <h2>asdasd</h2>                 <p>asdasda</p>                 <p>Tel.: 0985345678</p>             </div>`)[0];
            popup_d56b894cc9e2211cb30b7e78e8b8faa7.setContent(html_24db876cc17b76a8cc9800c071ec29c9);
        

        marker_4773652563da8500c78f657f34b62341.bindPopup(popup_d56b894cc9e2211cb30b7e78e8b8faa7)
        ;

        
    
    
            var marker_e47cba086c3cdab7aa0a075e6a027bf3 = L.marker(
                [-25.302223289426216, -57.58111798774653],
                {}
            ).addTo(map_4ac2482bee605fdccbf7ba3e88575b6b);
        
    
        var popup_457bccef4610ab6dd4350bac387538de = L.popup({"maxWidth": "100%"});

        
            var html_61ed527be21e5720230f846dc4ef6756 = $(`<div id="html_61ed527be21e5720230f846dc4ef6756" style="width: 100.0%; height: 100.0%;">                 <h2>Penguin House 2.0</h2>                 <hr>                 <img src="static/img/penguin_house.jpeg" width="250px">                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quidem, ipsa, quis, saepe, ipsam, obcaecati, quos, ipsum, quas, dolorem, aliquam.</p>                 <h3>Servicios:</h3>                 <ul>                     <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>                     <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>                     <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>                 </ul>                  <hr>                 <a href="#">WhatsApp</a>              </div>`)[0];
            popup_457bccef4610ab6dd4350bac387538de.setContent(html_61ed527be21e5720230f846dc4ef6756);
        

        marker_e47cba086c3cdab7aa0a075e6a027bf3.bindPopup(popup_457bccef4610ab6dd4350bac387538de)
        ;

        
    
    
            marker_e47cba086c3cdab7aa0a075e6a027bf3.bindTooltip(
                `<div>
                     Penguin House 2.0
                 </div>`,
                {"sticky": true}
            );
        
</script>