<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ae5c6f2eed10d47e6f6f91e77b4250ec {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_ae5c6f2eed10d47e6f6f91e77b4250ec" ></div>
        
</body>
<script>    
    
            var map_ae5c6f2eed10d47e6f6f91e77b4250ec = L.map(
                "map_ae5c6f2eed10d47e6f6f91e77b4250ec",
                {
                    center: [-25.302223289426216, -57.58111798774653],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_dce84ecef4c5624d98277ec76652e426 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_ae5c6f2eed10d47e6f6f91e77b4250ec);
        
    
            var marker_671fef1f116865076a51207e0da4f746 = L.marker(
                [-25.302591806618672, -57.5810194015503],
                {}
            ).addTo(map_ae5c6f2eed10d47e6f6f91e77b4250ec);
        
    
        var popup_2059b3d5fa0cc91fd3511685aa50199a = L.popup({"maxWidth": "100%"});

        
            var html_90d073cc767565cf1bea7a5e8c75a731 = $(`<div id="html_90d073cc767565cf1bea7a5e8c75a731" style="width: 100.0%; height: 100.0%;">                 <h2>Penguin Academy</h2>                 <p>Academia de pinguinos</p>                 <p>Tel.: 0985349532</p>                 <h2>Información:</h2>                 <p>Ciudad: Asunción</p>                 <p>Estado: </p>                 <p>Region: Distrito Capital de Paraguay</p>                 <p>Barrio: Mariscal Estigarribia</p>             </div>`)[0];
            popup_2059b3d5fa0cc91fd3511685aa50199a.setContent(html_90d073cc767565cf1bea7a5e8c75a731);
        

        marker_671fef1f116865076a51207e0da4f746.bindPopup(popup_2059b3d5fa0cc91fd3511685aa50199a)
        ;

        
    
    
            var marker_c62499bd047c6761453a146af091cb10 = L.marker(
                [-25.302242622458127, -57.58156657218934],
                {}
            ).addTo(map_ae5c6f2eed10d47e6f6f91e77b4250ec);
        
    
        var popup_3808fbe9687d002a29f4ef10bf622268 = L.popup({"maxWidth": "100%"});

        
            var html_ea9308529f2ca8bedeb5050977cb0b64 = $(`<div id="html_ea9308529f2ca8bedeb5050977cb0b64" style="width: 100.0%; height: 100.0%;">                 <h2>Paris</h2>                 <p>Venta de helados calientes</p>                 <p>Tel.: 0985123321</p>                 <h2>Información:</h2>                 <p>Ciudad: Asunción</p>                 <p>Estado: </p>                 <p>Region: Distrito Capital de Paraguay</p>                 <p>Barrio: Recoleta</p>             </div>`)[0];
            popup_3808fbe9687d002a29f4ef10bf622268.setContent(html_ea9308529f2ca8bedeb5050977cb0b64);
        

        marker_c62499bd047c6761453a146af091cb10.bindPopup(popup_3808fbe9687d002a29f4ef10bf622268)
        ;

        
    
    
            var marker_8c564c008a9e4f66a37eef86d3e69f79 = L.marker(
                [-25.301156265302783, -57.58203864097596],
                {}
            ).addTo(map_ae5c6f2eed10d47e6f6f91e77b4250ec);
        
    
        var popup_fffc0c885eaac293639639ab4fccb163 = L.popup({"maxWidth": "100%"});

        
            var html_0d403ba71abd507de2c8ac2818c69aaa = $(`<div id="html_0d403ba71abd507de2c8ac2818c69aaa" style="width: 100.0%; height: 100.0%;">                 <h2>Medialunas Calentitas</h2>                 <p>Las medialunas mas frias del paraguay</p>                 <p>Tel.: 0985123321</p>                 <h2>Información:</h2>                 <p>Ciudad: Asunción</p>                 <p>Estado: </p>                 <p>Region: Distrito Capital de Paraguay</p>                 <p>Barrio: Recoleta</p>             </div>`)[0];
            popup_fffc0c885eaac293639639ab4fccb163.setContent(html_0d403ba71abd507de2c8ac2818c69aaa);
        

        marker_8c564c008a9e4f66a37eef86d3e69f79.bindPopup(popup_fffc0c885eaac293639639ab4fccb163)
        ;

        
    
    
            var marker_61658d1b7aedfc2fe7e937e593c365a6 = L.marker(
                [-25.302223289426216, -57.58111798774653],
                {}
            ).addTo(map_ae5c6f2eed10d47e6f6f91e77b4250ec);
        
    
        var popup_1bda7e7f276d5ceb4f2dbe1c478dd40f = L.popup({"maxWidth": "100%"});

        
            var html_707631a376be7b7d29b413a56867fe72 = $(`<div id="html_707631a376be7b7d29b413a56867fe72" style="width: 100.0%; height: 100.0%;">                 <h2>Penguin House 2.0</h2>                 <hr>                 <img src="static/img/penguin_house.jpeg" width="250px">                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quidem, ipsa, quis, saepe, ipsam, obcaecati, quos, ipsum, quas, dolorem, aliquam.</p>                 <h3>Servicios:</h3>                 <ul>                     <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>                     <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>                     <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>                 </ul>                  <hr>                 <a href="#">WhatsApp</a>              </div>`)[0];
            popup_1bda7e7f276d5ceb4f2dbe1c478dd40f.setContent(html_707631a376be7b7d29b413a56867fe72);
        

        marker_61658d1b7aedfc2fe7e937e593c365a6.bindPopup(popup_1bda7e7f276d5ceb4f2dbe1c478dd40f)
        ;

        
    
    
            marker_61658d1b7aedfc2fe7e937e593c365a6.bindTooltip(
                `<div>
                     Penguin House 2.0
                 </div>`,
                {"sticky": true}
            );
        
</script>