<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_e9a136769b5a3b89d4108fc1d647a5d7 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_e9a136769b5a3b89d4108fc1d647a5d7" ></div>
        
</body>
<script>    
    
            var map_e9a136769b5a3b89d4108fc1d647a5d7 = L.map(
                "map_e9a136769b5a3b89d4108fc1d647a5d7",
                {
                    center: [-25.302223289426216, -57.58111798774653],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_d0a64087a19c77a61bd03d01d5871b8f = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_e9a136769b5a3b89d4108fc1d647a5d7);
        
    
            var marker_8abff91c0842437ed07ce279c8ab58cc = L.marker(
                [-25.301426885536873, -57.58104085922242],
                {}
            ).addTo(map_e9a136769b5a3b89d4108fc1d647a5d7);
        
    
        var popup_a9514ad19ec91176056f568d57e203cf = L.popup({"maxWidth": "100%"});

        
            var html_dfd0316c25faba560c80350b1561b58d = $(`<div id="html_dfd0316c25faba560c80350b1561b58d" style="width: 100.0%; height: 100.0%;">                 <h2>Verduleria, La verdura anarquista</h2>                 <p>Vendemos verduras para desestructurar al sistema</p>                 <p>Tel.: 0985123321</p>             </div>`)[0];
            popup_a9514ad19ec91176056f568d57e203cf.setContent(html_dfd0316c25faba560c80350b1561b58d);
        

        marker_8abff91c0842437ed07ce279c8ab58cc.bindPopup(popup_a9514ad19ec91176056f568d57e203cf)
        ;

        
    
    
            var marker_27a50a9ac91a7ee782bb3e13b3bdecd3 = L.marker(
                [-25.302223289426216, -57.58111798774653],
                {}
            ).addTo(map_e9a136769b5a3b89d4108fc1d647a5d7);
        
    
        var popup_ef6ea2dffe9dae47381b3791cfa86c87 = L.popup({"maxWidth": "100%"});

        
            var html_666057d785d19993b23bbd6e61784685 = $(`<div id="html_666057d785d19993b23bbd6e61784685" style="width: 100.0%; height: 100.0%;">                 <h2>Penguin House 2.0</h2>                 <hr>                 <img src="static/img/penguin_house.jpeg" width="250px">                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quidem, ipsa, quis, saepe, ipsam, obcaecati, quos, ipsum, quas, dolorem, aliquam.</p>                 <h3>Servicios:</h3>                 <ul>                     <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>                     <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>                     <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>                 </ul>                  <hr>                 <a href="#">WhatsApp</a>              </div>`)[0];
            popup_ef6ea2dffe9dae47381b3791cfa86c87.setContent(html_666057d785d19993b23bbd6e61784685);
        

        marker_27a50a9ac91a7ee782bb3e13b3bdecd3.bindPopup(popup_ef6ea2dffe9dae47381b3791cfa86c87)
        ;

        
    
    
            marker_27a50a9ac91a7ee782bb3e13b3bdecd3.bindTooltip(
                `<div>
                     Penguin House 2.0
                 </div>`,
                {"sticky": true}
            );
        
</script>