<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_1d9874fd985d5c876c4252c4905543b5 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_1d9874fd985d5c876c4252c4905543b5" ></div>
        
</body>
<script>    
    
            var map_1d9874fd985d5c876c4252c4905543b5 = L.map(
                "map_1d9874fd985d5c876c4252c4905543b5",
                {
                    center: [-25.302223289426216, -57.58111798774653],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_64515ab799e5a377b353431a45192443 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_1d9874fd985d5c876c4252c4905543b5);
        
    
            var marker_e1eeb4132226f6857761e1765d9a9b61 = L.marker(
                [-25.302591806618672, -57.5810194015503],
                {}
            ).addTo(map_1d9874fd985d5c876c4252c4905543b5);
        
    
        var popup_f5db29cb30a8ac18d05d0d2f6ec2ec7c = L.popup({"maxWidth": "100%"});

        
            var html_04b9784305089b20ff84cd2cf765d1e0 = $(`<div id="html_04b9784305089b20ff84cd2cf765d1e0" style="width: 100.0%; height: 100.0%;">             <h2>Penguin Academy</h2>             <p>Academia de pinguinos</p>             <p>Tel.: 0985349532</p>             <h2>Información:</h2>             <p>Ciudad: Asunción</p>             <p>Estado: </p>             <p>Region: Distrito Capital de Paraguay</p>             <p>Barrio: Mariscal Estigarribia</p>             <p>Categoria: recreativos</p>         </div>`)[0];
            popup_f5db29cb30a8ac18d05d0d2f6ec2ec7c.setContent(html_04b9784305089b20ff84cd2cf765d1e0);
        

        marker_e1eeb4132226f6857761e1765d9a9b61.bindPopup(popup_f5db29cb30a8ac18d05d0d2f6ec2ec7c)
        ;

        
    
    
            var marker_6042a9275c8c434b3b1d7dd679c7ea84 = L.marker(
                [-25.302242622458127, -57.58156657218934],
                {}
            ).addTo(map_1d9874fd985d5c876c4252c4905543b5);
        
    
        var popup_180859a38df59fe9a7ef97d3ace51486 = L.popup({"maxWidth": "100%"});

        
            var html_e351752157c0d88bb1f1a029763ac086 = $(`<div id="html_e351752157c0d88bb1f1a029763ac086" style="width: 100.0%; height: 100.0%;">             <h2>Paris</h2>             <p>Venta de helados calientes</p>             <p>Tel.: 0985123321</p>             <h2>Información:</h2>             <p>Ciudad: Asunción</p>             <p>Estado: </p>             <p>Region: Distrito Capital de Paraguay</p>             <p>Barrio: Recoleta</p>             <p>Categoria: recreativos</p>         </div>`)[0];
            popup_180859a38df59fe9a7ef97d3ace51486.setContent(html_e351752157c0d88bb1f1a029763ac086);
        

        marker_6042a9275c8c434b3b1d7dd679c7ea84.bindPopup(popup_180859a38df59fe9a7ef97d3ace51486)
        ;

        
    
</script>