<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/>
    <style>
        #map { height: 500px;
            width: 100%; }
    </style>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin=""></script>
    <title>Registro de Emprendimiento</title>
</head>
<body>
    <div class="grid grid-cols-1">
        <form class='grid grid-cols-1' action="" method="post">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre">
            <label for="descripcion">Descripcion</label>
            <input type="text" name="descripcion" id="descripcion">
            <label for="">Contacto</label>
            <input type="text" name="contacto" id="contacto">
            <label for="categoria">Categoria</label>
            <select name="categoria" id="categoria">
                <option value="museos">Museos</option>
                <option value="recreativos">Recreativos</option>
                <option value="historicos">Historicos</option>
            </select>
            <div id="map"></div>
            <label for="latitud">Latitud</label>
            <input type="text" name="latitud" id="latitud" value="asdasd">
            <label for="">Longitud</label>
            <input type="text" name="longitud" id="longitud">
            <input type="submit" value="Registrar">
        </form>
    </div>

    <script>
        var map = L.map('map').setView([-25.302223289426216, -57.58111798774653], 18);
        L.tileLayer(
            'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', 
            {
                maxZoom: 19,
                attribution: '© OpenStreetMap'
            }
            ).addTo(map);

            map.on('click', function(e) {

                var lat = e.latlng.lat;
                document.getElementById('latitud').value = lat;
                var lng = e.latlng.lng;
                document.getElementById('longitud').value = lng;
                var marker = L.marker([lat, lng]).addTo(map);

            });

    </script>

</body>
</html>