<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vistas</title>
</head>
<body>
    <form action="" method="post">
        <select name="categoria" id="categoria">
            <option value="museos">Museos</option>
            <option value="recreativos">Recreativos</option>
            <option value="historicos">Historicos</option>
        </select>
        <input type="submit" value="Enter">

    </form>

    <iframe src="/marcadores" height="700" width="700" title="Iframe Example"></iframe>
</body>
</html>